html, body {
  min-height: 100%;
}

.nav, .pagination, .carousel, .panel-title a , .rooms {
    cursor: pointer;
}

.home {
    padding: 0px;
    border: 1px solid black;
    text-align: center;
    height: 700px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 2px 3px black;
}

.chat-room-title {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 16px;
}

.rooms {
  margin-top: 20px;
  padding: 10px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  text-shadow: 1px 1px grey;
  border-bottom: 2px solid black;
}

.rooms:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
}

.bloc-chat {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 18px;

}

.send-message {
  margin-left: 20px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.send-message input {
  width: 300px;
}

.chatroom {
  height: 700px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 2px 3px black;
  overflow: hidden;
}

.current-chat-room {
  margin-left: 20px;
  background-color: white;
  padding: 10px;
}


.bloc-chat-container {
  margin-top: 20px;
  margin-bottom: 20px;
}


.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop .fade .in {
  opacity: 0.5 !important;
}


.modal-backdrop.fade {
    opacity: 0.5 !important;
}

.modal-backdrop {
  z-index: -1;
}
