<section class="home">
  <h1>Bloc Chat</h1>
  <button class="newRoom" ng-click="home.openModal()" style="color:blue">New Room</button>
  <div class="mainRooms" ng-repeat="room in home.chatRooms.all">
      <h4 class="rooms" ng-click="home.openChatRoom(room.$value, room.$id)">{{room.$value}}</h4>
  </div>
</section>
<section class="ChatRoom">
    <h2 style="text-align: center; background: lightgrey">{{home.roomName}}</h2>
    <div class="currentChatRoom" ng-repeat="message in home.messages.all">
  <p style="background: lightblue;">{{message.username}} : {{message.content}}</p>
    </div>
</section>
<section class="sendMessage">
    <input type="text" ng-model="value"/>
    <button ng-click="home.messages.add(value)">Send</button>
</section>
