<div class="container bloc-chat-container">
  <div class="row">

    <div class="col-md-4">
      <section class="home">
        <h1 class="bloc-chat">Bloc Chat</h1>
        <button class="newRoom btn btn-sm btn-success" ng-click="home.openModal()">New Room</button>
        <div class="mainRooms" ng-repeat="room in home.chatRooms.all">
            <h4 class="rooms" ng-click="home.openChatRoom(room.$value, room.$id)">{{room.$value}}</h4>
        </div>
      </section>
    </div>

    <div class="col-md-8">
      <section class="chatroom">
          <h1 class="font-italic chat-room-title">{{home.roomName || "You are not currently in a chatroom"}}</h1>
          <div class="current-chat-room" ng-repeat="message in home.messages.all">
            <p class="text-primary">{{message.username}} <span class="text-warning">: {{message.content}}</span></p>
          </div>
          <section class="send-message">
              <input type="text" ng-model="value"/>
              <button class="btn btn-success" ng-click="home.messages.send(value)">Send</button>
          </section>
      </section>

    </div>
  </div>

</div>
