<section class="home">
  <h1>Bloc Chat</h1>
  <button class="newRoom" ng-click="home.openModal()" style="color:blue">New Room</button>
  <div class="mainRooms" ng-repeat="room in home.chatRooms.all">
      <h4 class="rooms" ng-click="home.openChatRoom(room.$value)">{{room.$value}}</h4>
  </div>
</section>
<section class="currentChatRoom">
    <h2 style="text-align: center">{{home.roomId}}</h2>
        <ul style="list-style-type: none">
            <li style="background-color: lightblue">username : {{message.content}}<span style="float: right; padding-right: 15px">current time</span></li>
        </ul>
</section>
<section class="sendMessage">
    <input type="text" ng-model="message.content"/>
    <button ng-click="home.Message.add(message.content)">Send</button>
</section>
