 <section class="modal-dialog">
    <div class="modal-header">
        <button class="close" ng-click="modal.closeModalCancel()">&times;</button>
        <h4 class="modal-title">Create a new room</h4>
    </div>
    <div class="modal-body">
        <p>Enter your room name:</p>
        <input type="text" ng-model="modal.roomName"/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" ng-click="modal.closeModalSuccess()">Create chat room</button>
        <button class="btn btn-warning" ng-click="modal.closeModalCancel()">Cancel</button>
    </div>
</section>
